#rounded {
  border-radius: 10px;
  overflow: hidden;
}
.meep {
  margin-left: 12.5%;
  margin-right: 12.5%;
  max-width: 75%;
}
@media (max-width: 1400px) {
  .custom-stack {
    flex-direction: column-reverse;
  }

  .custom-stack .col-12 {
    width: 100%;
    margin-bottom: 20px;
  }
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
#btn-back-to-top:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#potato {
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 0%;
}
